/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
.container {
  margin: 0 auto;
  width: 80%;
}

.background {
  background-color: #f6f8f9;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */
header {
  background-color: rgb(255, 255, 255);
  height: 80px;
  line-height: 80px;
}

header img {
  vertical-align: middle;
  padding-left: 10px;
}

header span {
  font-size: 2.5rem;
  font-weight: 700;
  vertical-align: middle;
}

/* NAV */
nav {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  height: 70px;
  line-height: 70px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 35px;
}

nav button {
  border-radius: 6px;
  border-style: solid;
  line-height: 2;
  padding: 0 10px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;  
}

.nav_button_add_task {
  color: #fff;
  background-color: #47adf1;
  border-color: #47adf1;
}

.nav_button_add_selection {
  color: #d5d9dd;
  background-color: white;
  border-color: #d5d9dd;
}

/* MAIN */

main {
  background-color: rgb(255, 255, 255);
  height: 500px;
  padding-left: 35px;
  border: 1px solid black;
}
