/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */

body {
  background-color: #f6f8f9; 
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62,5%; 
  /* 100 per cento del font del browser =16px
  se voglio fare il 10px metto 62,5%*/
}


/* HEADER */
header {
  background-color: rgb(255, 255, 255);
  padding: 1em;  /* padding e margin in em se aggiusto in html il font-size imposto sia em che rem! */
  height: 80px;
  line-height: 80px;
}

header img {
  vertical-align: middle;  
}

header span {
  font-size: 2.5rem;
  font-weight: 700;
  vertical-align: middle;
}


/* CONTAINER */
.container {
  background-color: rgb(255, 255, 255);
  width: 60%;
  margin: 2em auto 0;  
  padding-left: 3.5em;
}


/* NAV */
nav {
  height: 7em;
  line-height: 7em;
  border-bottom: 4px solid #f6f8f9;
  /* invece che dividere nave e main inserisco border -- border in px*/
}

nav button {
  border-radius: 6px;   /* in px perchè voglio forma rigida, non che si adatti */
  border-style: solid;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

.nav_button_add_task {
  color: #fff;
  background-color: #47adf1;
  border-color: #47adf1;
}

.nav_button_add_selection {
  color: #d5d9dd;
  background-color: white;
  border-color: #d5d9dd;
}

/* MAIN */

main {  
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 3em;
}

/* External List */

.ul_list_title {
  margin-top: 3rem;
  list-style-type: "\25BC  ";
}

.li_list_title {
  font-size: 1rem;
  font-weight: 900;
  list-style-position: inside;
}

/* Internal List*/
.ul_inside_list {
  margin-left: 2em;
  font-weight: 100;
  font-size: 1em;
}

.ul_inside_list li {
  line-height: 30px;
  list-style: none;
}

/* Check logo */

ul .li_check::before {
  display: inline-block;
  content: "\2713";
  color: #98d6c7;

  font-size: 0.6em;
  text-align: center;
  font-weight: bold;

  line-height: 1rem;
  width: 1rem;
  height: 1rem;

  border-radius: 50%;
  border: 1.2px solid #98d6c7;
  margin-right: 5px;
}

/* Cross logo */

ul .li_cross::before {
  display: inline-block;
  content: "\2716";
  color: #ee635a;

  font-size: 0.6em;
  text-align: center;
  font-weight: bold;

  line-height: 1rem;
  width: 1rem;
  height: 1rem;

  border-radius: 50%;
  border: 1.2px solid #ee635a;
  margin-right: 5px;
}

.counter {
  display: inline-block;
  background-color: orange;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

/* Labels inside the second list  */

.labels {
  font-size: 0.8rem;
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 8px;
}

.label_blue {
  background-color: #45abea;
}

.label_purple {
  background-color: #9c72e4;
}

.label_green {
  background-color: #64c0a9;
}

.label_orange {
  background-color: #f29e33;
}

.label_pink {
  background-color: #d863a1;
}

.label_yellow {
  background-color: #b0c926;
}


/* Margin bottom between the list  */
.mb{
  margin-bottom: 20px;
}